@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3 {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
}
p, span, a {
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  /* color: white !important; */
}
body{
  background: linear-gradient(180deg, #0F172A 0%, #1E3A8A 100%) !important;
  color: white ;
}